body{
    background-image: url("292.jpg");
    background-size: cover;
}
h1{
    text-align: center;
    font-size: 130%;
    font-family: sans-serif;
}
p{
    size: 116%;
    text-align: center;
    font-size: 18px;
    color: #35ec03;
}
div.zoomin h2{
    text-align: center;
    color: #35ec03;
    font-size: 330%;
}
ul li{
    color:#35ec03;
    font-size: 130%;
}
nav{
    background-image: url("https://media.giphy.com/media/cV1RBK4MD58LS/giphy.gif");
    background-position-y: 60%;
    color: #35ec03;
}
.zoomin img { 
    height: 300px; 
    width: 300px; 
    -webkit-transition: all 2s ease; 
    -moz-transition: all 2s ease; 
    -ms-transition: all 2s ease; 
    transition: all 2s ease; 
}
.zoomin img:hover 
 { 
     width: 400px; height: 400px;
 }
img{
     vertical-align: middle;
 }