body {
	background-color: black;
	color: lightgrey;
}
#intro{
	font-size: 20px;
	font-family: arial;
}
img.center {
  margin-right: auto;
  margin-left: auto;
  display: block;
}
a.button {
	text-align: center;
	color: white;
	background-color: transparent;
	text-decoration: none;
	padding: 10px 10px;
	display: inline-block;
}
a.button:hover {
	text-align: center;
	color: black;
	text-decoration: none;
	background-color: white;
	display: inline-block;	
}
a.button:active {
	text-align: center;
color: black;
background-color: purple;
display: inline-block;
}
p.sub {
	background-color: lightgrey;
	color: black;
	text-align: center;
	font-size: 30px;
	font-family: courier;
}
.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  height: 300px;
  transition: .01s ease;
  backface-visibility: hidden;
  width: 100%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.row {
  display: -ms-flexbox; /*Using Flex Wrapping I have made the web page responsive*/
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that will be next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 200%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 200%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {   /*When browser size is less than 900 pixels it will show single images*/
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
#column_head {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	font-family: courier;
}
p.info {
	font-size: 15px;
	color: blue;
	text-align: center;
}
address.contact {
	text-align: center;
	color: skyblue;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #AC9893;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
}